.Videofooter{
    position:relative;
    bottom: 20%;
    color: whitesmoke;
    margin-left: 30px;
}

.Videofootertext h2{
    padding-bottom: 20px ;

}

.Videofootertext p{
    padding-bottom: 20px ;

}

.Videofootermusica{
    display: flex;
}

.Videofooternomemusica{
    width: 80%;
    overflow: hidden;
}

.Videofooternomemusica p{
    animation: moveText 3s infinite linear;

}

.Videofooterrecord{
    animation: spinTheRecord 2s infinite linear;
    position: absolute;
    bottom: 5px;
    right: 18px;
    height: 50px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

@keyframes moveText{
    0%{
        transform:translate(100%);
    }

    100%{
        transform:translate(-100%);
    }
}

@media only screen and (max-width: 400px)  {
    .Videofooter{
        bottom: 22%;
    }
    .Videofooternomemusica{
        width: 78%;
    }
}